version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: attendance-db
    environment:
      POSTGRES_DB: attendance
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: attendance-backend
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/attendance
      DB_USER: postgres
      DB_PASSWORD: admin
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://192.168.0.53:8080
    container_name: attendance-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: